In [16]:
import pandas as pd
import numpy as np
import MetaTrader5 as mt5
from datetime import datetime

In [2]:
import os
from dotenv import load_dotenv

load_dotenv()

MT5_LOGIN = os.getenv('MT5_LOGIN')
MT5_PWD = os.getenv('MT5_PWD')

In [3]:
mt5.initialize()

mt5.login(int(MT5_LOGIN), MT5_PWD,'MetaQuotes-Demo')

True

In [ ]:
from_date = datetime(2022, 1, 5)
to_date = datetime(2022, 1, 6)

ticks = mt5.copy_ticks_range("EURUSD", from_date, to_date, mt5.COPY_TICKS_ALL)

array([(1641337200, 1.12847, 1.12848, 0., 0, 1641337200067, 130, 0.),
       (1641337200, 1.12845, 1.12846, 0., 0, 1641337200772, 134, 0.),
       (1641337200, 1.12842, 1.12843, 0., 0, 1641337200907, 134, 0.), ...,
       (1641423599, 1.13108, 1.13109, 0., 0, 1641423599100, 134, 0.),
       (1641423599, 1.13109, 1.1311 , 0., 0, 1641423599836, 134, 0.),
       (1641423599, 1.1311 , 1.13111, 0., 0, 1641423599943, 134, 0.)],
      dtype=[('time', '<i8'), ('bid', '<f8'), ('ask', '<f8'), ('last', '<f8'), ('volume', '<u8'), ('time_msc', '<i8'), ('flags', '<u4'), ('volume_real', '<f8')])

In [29]:
data = pd.DataFrame(ticks)
data['time'] = pd.to_datetime(data['time'], unit='s')
data = data.drop(['last', 'volume', 'volume_real'], axis=1)
data['flags'] = data['flags'].apply(lambda x: bin(x)[2:].zfill(8))

data

                     time      bid      ask       time_msc     flags
0     2022-01-04 23:00:00  1.12847  1.12848  1641337200067  10000010
1     2022-01-04 23:00:00  1.12845  1.12846  1641337200772  10000110
2     2022-01-04 23:00:00  1.12842  1.12843  1641337200907  10000110
3     2022-01-04 23:00:01  1.12842  1.12847  1641337201109  00000100
4     2022-01-04 23:00:01  1.12843  1.12848  1641337201733  10000110
...                   ...      ...      ...            ...       ...
62585 2022-01-05 22:59:58  1.13108  1.13109  1641423598169  10000110
62586 2022-01-05 22:59:58  1.13109  1.13110  1641423598506  10000110
62587 2022-01-05 22:59:59  1.13108  1.13109  1641423599100  10000110
62588 2022-01-05 22:59:59  1.13109  1.13110  1641423599836  10000110
62589 2022-01-05 22:59:59  1.13110  1.13111  1641423599943  10000110

[62590 rows x 5 columns]